<div class="container py-3 ">
  <h1>Add a Restaurant</h1>
  <%= render "form", restaurant: @restaurant %>
  <hr>
  <h4><%= link_to "go back", restaurants_path, class: "btn btn-primary" %></h4>

</div>
